<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="com.qa.listeners.TestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="iOS">
        <parameter name="emulator" value="true"></parameter>
        <parameter name="platformName" value="ios"></parameter>
        <parameter name="udid" value="90579EDE-6225-418F-8DA5-3D091C08BE5C"></parameter>
        <parameter name="deviceName" value="iPhoneSe"></parameter>
        <parameter name="wdaLocalPort" value="11000"></parameter>
        <classes>
            <class name="com.qa.tests.LoginTest"></class>
<!--            <class name="com.qa.tests.ProductTest"></class>-->
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Android">
        <parameter name="emulator" value="true"></parameter>
        <parameter name="platformName" value="Android"></parameter>
        <parameter name="udid" value="emulator-5554"></parameter>
        <parameter name="deviceName" value="Pixel_5"></parameter>
        <parameter name="systemPort" value="10001"></parameter>
        <parameter name="chromeDriverPort" value="11002"></parameter>
        <classes>
            <class name="com.qa.tests.LoginTest"></class>
            <class name="com.qa.tests.ProductTest"></class>
        </classes>
    </test>
</suite>